@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Poppins&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Roboto+Mono:wght@500&display=swap");
@font-face {
	font-family: 'Quantum';
	src: local('Quantum') format(otf);
    font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
  scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #161616;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    cursor: pointer;
    list-style-type: none;
    font-family: 'Koulen', cursive;
    transition: 0.6s ease;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}
/* *** NAV BAR*** */
nav {
    top: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    opacity: 1;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px 5px #e4e4e4;
}
.sectionnavbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    transition: ease 0.2s;
}
nav li a:hover {
    transform: scale(1.5);
}
.divlogo {
    display: flex;
    align-items: center;
    flex-direction: row;    
    justify-content: start;
    padding-bottom: -5px;
}
.divnavbar {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: end;
}



#btnmarketplace {
  border: 0;
  background: rgb(255, 255, 255);
  font-size: 1.03rem;
  padding: 0.5rem 1rem;
  border: #000000 solid 3px;
  margin-right: 10px;
  transition: 0.3s ease;
}
#btnmarketplace a {
    color: rgb(0, 0, 0);
    font-family: 'Koulen', cursive;
}

#btnmarketplace:hover {
    background-color:none;
    transform: scale(1.05);
    box-shadow: 7px 5px 0px 0px #c5c5c5;
}

button:active {
    position:relative;
    top:2px;
}

header li,button {
    font-size: 1.2em;
}
.divnavbar a,i {
    text-decoration: none;
    padding: 10px;
    margin: 5px 5px;
    color: rgb(0, 0, 0);
    word-spacing: 0.5px;
    letter-spacing: 1px;
    transition: ease 0.2s;
}

.divlogo a,i {
    text-decoration: none;
    padding: 0 10px 0 0px;
    margin: 0px 5px 0 15px;
    color: rgb(0, 0, 0);
    word-spacing: 0.5px;
    letter-spacing: 1px;
    transition: ease 0.2s;
}
header li a:hover {
    box-shadow: 7px 5px 0px 0px #c5c5c5;
    background-color: #f0f0f0;
}
#logo {
    font-family: 'Koulen', cursive;
    font-size: 25px;
}

.navbaricons a,i {
    text-decoration: none;
    margin: 0;
    padding:7px 10px 10px 10px;
}
.navbaricons {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    transition: ease 0.2s; 
}
.navbaricons a {
    padding: 6px;
    margin: 0 0 0 0;
}
.iconsnavbartwitter a {
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    transition: 0.4s ease;

}
.iconsnavbardiscord a {
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    transition: 0.4s ease;
    margin-right: 10px;
}

.iconsnavbartwitter a i:hover {
    box-shadow: 7px 5px 0px 0px #c5c5c5;
    background-color: #f0f0f0;
    transform: scale(1.1);
    color: #1DA1F2;
}
.iconsnavbardiscord a i:hover {
    box-shadow: 7px 5px 0px 0px #c5c5c5;
    background-color: #f0f0f0;
    transform: scale(1.1);
    color: #5865F2;
}






/* ********** SOCIAL *********** */


.action3 .menusocial {
    z-index: 1;
    position: fixed;
    right: 100px;
    top: -250px;
    padding: 5px 20px;
    background: aliceblue;
    width: 150px;
    box-sizing: 0 5px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.action3 .menusocial.active {
    visibility: visible;
    opacity: 1;
    top: 75px;
}

.action3 .menusocial ul li {
    cursor: pointer;
    border-radius: 10px;
    float: none;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    direction: flex;
    align-items: center;
    justify-content: center;
}
.action3 .menusocial ul li:hover {
    opacity: 1;
}

.menusocial  {
    opacity: 0.5;
}
/* ********** IMAGE PRINCIPALE **************** */
#mainPage-home {
    padding-top: 60px;
    background-color: #92e878;
    background-size: cover;
    height: 950px;
    display: flex;
    flex-direction: column;
}
h1 { 
    font-family: 'Poppins', sans-serif;
    text-align: start;
    color: rgb(0, 0, 0);
    font-size: 4em;
    margin: 100px 150px 35px;
}


#premierTrait {
    height: 10px;
    width: 25%;
    margin-left: 150px;
    margin-bottom: 25px;
    background-color: rgb(0, 0, 0);
}
h3 {
    font-weight: bold;
    text-align: start;
    margin-left: 150px;
    color: rgb(0, 0, 0);
    font-size: 3em;
}
p {
    text-align:center;
    color: rgb(255, 255, 255);
    font-family: Roboto,Helvetica;
    word-spacing: 150%
}

.splitchange {
    height: 90px;
    width: 100%;
    background-color: #c3e2ba;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splitchange-more {
    color: rgb(0, 0, 0);
    transition: 0.3s ease; 
    font-size: 30px;
}

.splitchange-more:hover {
    color: rgb(173, 173, 173);
}


/* *********** TEXT ************* */
#presentation {
    height: 100%;
    font-family: Roboto,Helvetica;
}

#about {
    display: flex;
    font-size: 1.2em;
    color: #ffffff;
    height: 400px;
    width: 100%;
    flex-direction: row;
    margin: 0 0 50px 0;
}

.about-textcontainer {
    margin-top: 50px;
    width: 60%;
    margin-left: 50px;
}
.about-imgcontainer {
    margin-top: 50px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textTitleLeft {
    text-shadow: 2px 3px 0px #898999;
    color: #ffffff;
    margin-bottom: 20px;
}

.presentationImg1 {
    width: 110%;
    height: 110%;
    margin-right: 50px;
}
/* *** */

#progress {
    display: flex;
    font-size: 1.2em;
    color: #ffffff;
    height: 400px;
    width: 100%;
    flex-direction: row-reverse;
    margin: 0 0 50px 0;
}

.progress-textcontainer {
    margin-top: 50px;
    width: 40%;
    margin-right: 50px;
}
.progress-imgcontainer {
    margin-right: 20px;
    margin-top: 50px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textTitleRight {
    text-shadow: 2px 3px 0px #898999;
    color: #ffffff;
    margin-bottom: 20px;
}

.roadmap-textIllustration {
    height: 400px;
    width: 900px;
}

/* **** */

#smartcontract {
    display: flex;
    font-size: 1.2em;
    color: #ffffff;
    height: 400px;
    width: 100%;
    flex-direction: row;
    margin: 0 0 50px 0;
}

.smartcontract-textcontainer {
    margin-top: 50px;
    width: 60%;
    margin-left: 50px;
}
.smartcontract-imgcontainer {
    margin-top: 50px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgsmartcontract {
    width: 500px;
    height: 500px;
    margin-right: 50px;
}

/* *** */

#mintnft {
    display: flex;
    font-size: 1.2em;
    color: #ffffff;
    height: 400px;
    width: 100%;
    flex-direction: row-reverse;
    margin: 0 0 150px 0;
}

.mintnft-textcontainer {
    margin-top: 50px;
    width: 40%;
    margin-right: 50px;
}
.mintnft-imgcontainer {
    margin-right: 20px;
    margin-top: 50px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgmintnft {
    height: 700px;
    width: 700px;
}





a.linkText {
    text-decoration: none;
    color: #f1c40f;

}
.linkText a:hover{
    color: #f1c40f;
}
.backgroundtext {
    flex-direction: row;
}




/* ************ FOOTER ************* */
footer {
    background-color: #272727;
    color:  rgb(230, 230, 230);
    padding: 10px 0 10px;
    font-weight: normal;
}


.footer-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer-presentation-defi-description {
    margin-left: 20% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-presentation-defi {
    width: 50%;
}
.footer-presentation-defi-h3 {
    color: rgb(230, 230, 230);
    font-size: 1.5em;
    text-align: start;
    text-shadow: none;
    margin-bottom: 10px;

}

.footer-credits {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    margin-right: 8%;
}
.footer-credits h4,.footer-credits a {
    margin: 10px;
    color:rgb(202, 202, 202);

}
/* 
.footer-form, .footer-form-btn, .footer-form-textarea, .footer-form-input {
    border: none;
    border-radius: 8px;
}
.footer-form {
    display: flex;
    flex-direction: column;
}

 .footer-form-textarea{
    padding: 15px 10px;
    width: 50%;
}
.footer-form-btn {
    margin-top: 5px;
    padding: 15px 10px;
    width: 20%;
} 

.footer-form-btn a:hover {
    color: #1DA1F2;
} 
.footer-form-input {
    height: 40px;
    margin-bottom: 10px;
    width: 30%;
    padding: 15px 10px;
} */

#deuxiemeTrait {
    height: 1px;
    width: 85%;
    background-color: rgb(124, 130, 134);
    margin: 30px 7.5% 30px 7.5%;
}
#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright {
    width: 50%;
    text-align: left;
    color: rgb(124, 130, 134);
    font-size: 1.4em;
}
#icons {
    width: 50%;
    text-align: right;
}
#icons a {
  transition: 0.25s ease;
    display: inline-block;
    padding: 0 15px;
    font-size: 2em;
    color: rgb(124, 130, 134);
}
#icons a:hover {
    transform: scale(1.3);
}
